<!DOCTYPE HTML>
<html>
<head>
<title>Remove</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
<link rel="stylesheet" href={{url_for('static', filename='css/remove.css')}}>
</link>
</head>
<body>
	<div id="title">
		<a href="/">
			<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
		</a>
		<form>
			<input id="searchBox" type="text" name="searchQuery" value="{{query}}">
			<input id="searchButton" type="submit" value="Search">
		</form>
	
		{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Sign In</a>
		</div>
		{% else %}
		<div class="dropdown">
			<button class="dropbtn">Hello, <br>{{firstName}}</button>
			<div class="dropdown-content">
				<a href="/account/orders">Your orders</a>
				<a href="/account/profile">Your profile</a>
				{% if sellerStatus %}
				<a href="/account/products">Your products</a>
				<a href="/account/selling">Your sellings</a>
				{% else %}
				{% endif %}
				<hr>
				<a href="/logout">Sign Out</a>
			</div>
		</div>
		{% endif %}
		<div id="kart">
			<a class="link" href="/cart">
				<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
				CART {{noOfItems}}
			</a>
		</div>
		</div>

<table>
	{% for i in range(6) %}
	<tr>
		{% for row in data %}
		<td>
			<a href="/removeItem?productId={{row[0]}}">
			{% if i == 4 %}
				<img src={{ url_for('static', filename='uploads/' + row[i]) }} id="itemImage" />
				<h2>Remove</h2>
			{% else %}
				{{row[i]}}
			{% endif %}
			</a>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
</body>
</html>
