<!DOCTYPE HTML>
<html>
<head>
<title>Edit Profile Information </title>
<link rel="stylesheet" href={{ url_for('static', filename='css/editProfile.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			{% if sellerStatus %}
			<a href="/account/products">Your products</a>
			<a href="/account/selling">Your sellings</a>
			{% else %}
			{% endif %}
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
			CART {{noOfItems}}
		</a>
	</div>
</div>

<div class="display">
	<h2>View Profile</h2>
	<p>Email: <input type="email" name="email" value={{profileData[1]}} readonly="readonly"></p>
    <p>First Name: <input type="text" name="firstName" value={{profileData[2]}} readonly="readonly"></p>
    <p>Last Name: <input type="text" name="lastName" value={{profileData[3]}} readonly="readonly"></p>
    <p>College: <input type="text" name="lastName" value={{profileData[4]}} readonly="readonly"></p>
    <p>Phone Number: <input type="text" name="phone" value={{profileData[5]}} readonly="readonly"></p>
    <p>WeChat ID: <input type="text" name="weChatId" value={{profileData[6]}} readonly="readonly"></p>

	</form>
</div>
</body>
</html>

